body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f3f7;
    color: #333;
    margin: 0;
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #6a1b9a; /* Lila */
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
    margin-bottom: 10px;
}

button {
    background-color: #ba68c8; /* Lila */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ab47bc; /* Lila más oscuro */
}
